$white: #FFFFFF;
$Soft-violet: #8b5cf6;
$black: #1F2937;
$very-pale: #F5F3FF;
$darkshade-blue: #3A2160;
$grey-lightblue: #A1ACBB;
$blue-magenta: #A78BFA;
$grey: #A7ACB2;

$title-font: "Playfair Display";
$ocasional-font: "Work Sans";

html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;


}

body
{
    font-family: $title-font, $ocasional-font;
    margin: 0;
    padding: 0;
}

/*estilos generales*/
li
{
    list-style: none;
    padding-top: 5px;
    row-gap: 5px;
}

ul
{
    padding: 0;
}

a
{
    text-decoration: none;
    color: $darkshade-blue;
}

.container
{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}